<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Tester</servlet-name>
        <servlet-class>cloudDBEndpoints.Tester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>cloudDBEndpoints.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenant</servlet-name>
        <servlet-class>cloudDBEndpoints.Tenant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table</servlet-name>
        <servlet-class>cloudDBEndpoints.Table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableData</servlet-name>
        <servlet-class>cloudDBEndpoints.TableData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSync</servlet-name>
        <servlet-class>cloudDBEndpoints.UserSync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDevice</servlet-name>
        <servlet-class>cloudDBEndpoints.UserDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserACL</servlet-name>
        <servlet-class>cloudDBEndpoints.UserACL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRoleRLS</servlet-name>
        <servlet-class>cloudDBEndpoints.UserRoleRLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserGroupRLS</servlet-name>
        <servlet-class>cloudDBEndpoints.UserGroupRLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>cloudDBEndpoints.Roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Groups</servlet-name>
        <servlet-class>cloudDBEndpoints.Groups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>cloudDBEndpoints.Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSyncAuth</servlet-name>
        <servlet-class>cloudDBEndpoints.UserSyncAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Count</servlet-name>
        <servlet-class>cloudDBEndpoints.Count</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableDataSync</servlet-name>
        <servlet-class>cloudDBEndpoints.TableDataSync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateAuthKey</servlet-name>
        <servlet-class>cloudDBEndpoints.GenerateAuthKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractDeviceKey</servlet-name>
        <servlet-class>cloudDBEndpoints.ExtractDeviceKey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tester</servlet-name>
        <url-pattern>/Tester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenant</servlet-name>
        <url-pattern>/Tenant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table</servlet-name>
        <url-pattern>/Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableData</servlet-name>
        <url-pattern>/Table/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSync</servlet-name>
        <url-pattern>/User/Sync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDevice</servlet-name>
        <url-pattern>/User/Device</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserACL</servlet-name>
        <url-pattern>/User/ACL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRoleRLS</servlet-name>
        <url-pattern>/User/RLS/Role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserGroupRLS</servlet-name>
        <url-pattern>/User/RLS/Group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/RLS/Roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Groups</servlet-name>
        <url-pattern>/RLS/Groups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSyncAuth</servlet-name>
        <url-pattern>/User/Sync/Auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Count</servlet-name>
        <url-pattern>/Table/Data/Count</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableDataSync</servlet-name>
        <url-pattern>/Table/Data/Sync</url-pattern>
        <url-pattern>/System/Table/Data/Sync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateAuthKey</servlet-name>
        <url-pattern>/Generate/AuthKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractDeviceKey</servlet-name>
        <url-pattern>/Generate/DeviceKey</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
